certifi==2020.4.5.1
chardet==3.0.4
cmake==3.17.2
cycler==0.10.0
Cython==0.29.17
docopt==0.6.2
idna==2.9
joblib==0.14.1
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.3
pandas==1.0.3
pipreqs==0.4.10
pyparsing==2.4.7
pystan==2.19.1.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.1
six==1.14.0
sklearn==0.0
urllib3==1.25.9
yarg==0.1.9
